*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar{
  display: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:black ;
}

.name .nameBox{
  height: 150px;
  width: 300px;
  background-color: rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  gap: 20px;
  box-shadow: 0px 0px 20px 0.1px rgb(34, 34, 34);



}


.name .nameBox input{
  padding: 12px 15px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  background: transparent;
  border: 1px solid #444;
  color: white;

}

.name .nameBox input:focus{
  outline: none;

}
.name .nameBox button{
  padding: 10px 25px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border:1px solid #444 ;
  cursor: pointer;
  transition: 0.5s ease-in-out;

}

.name .nameBox button:hover{
  color: black;
  background-color: white;
  border: 1px solid black;
}


.chat-box{
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}

.all-message{
  height: 90vh;
  background-color: #000000;
  overflow-y:scroll ;
  padding: 10px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message-box{
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100vw;
  justify-content: center;
  gap: 10px;

  

}


.message-box .mini{
  padding: 10px 20px;
  width: 90%;
  border-radius: 60px;
  border: none;
  border: 1px solid #444;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.message-box .mini input{
  width: 80%;
  background: transparent;
  color: white;
  border: none;
  font-size: 16px;
}


.message-box input:focus{
  outline: none;
  

}

.message-box button{
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  color: rgb(11, 11, 255);
  border: none;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.message-box button:hover{
  text-decoration: underline;
}



.own-message{
  align-self: flex-end;
  background-color: #3797F0;
  text-align: left;
  max-width: 90vw;
  right: 0px;
  color: white;
}

.other-message{
  background-color: #262626;
  max-width: 90vw;
  align-self: flex-start;
  color: white;

  
}

.other-message, .own-message{
  padding: 10px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}


.user-name{
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}
